<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/FEA/css/main.css">
  </head>

  <body>
    <nav>
<ul>
<li><a href="/FEA/">Home</a></li>
<li><a href="/FEA/notes">Notes</a></li>
<li><a href="/FEA/tutorials">Tutorials</a></li>
<li><a href="/FEA/projects">Projects</a></li>
<li><a href="/FEA/post">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:mwpriddy@gmail.com">email</a></li>
   <li><a href="https://github.com/mwpriddy">github.com/mwpriddy</a></li>
   </ul>
  </footer>
  </body>

</html>
